@model List<ShoesASP.Models.Shoe>


<h1>Zapatillas</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>

@using(Html.BeginForm())
{
    <p>
        Buscar por Nombre: @Html.TextBox("buscar")
        <input type="submit" value="buscar"/>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nombre", "Index", new { ordenar = ViewBag.OrdenarNombre })
            </th>
            <th>
                @Html.ActionLink("Marca", "Index", new { ordenar = ViewBag.OrdenarMarca })
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var shoes in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(s => shoes.Name)
                </td>
                <td>
                    @Html.DisplayFor(s => shoes.Brand.Name)
                </td>
                <td>
                    <a asp-action="Delete" onclick="return confirm('¿Está seguro?')" asp-route-id="@shoes.ShoesId">Eliminar</a>
                    <a asp-action="Editar" asp-route-id="@shoes.ShoesId">Editar</a>
                </td>
                <td>
                    <input value="@shoes.ShoesId" name="id" id="id" type="hidden"/>
                </td>
            </tr>
        }
    </tbody>
</table>